body {
  font-family:'Open Sans', sans-serif;
}
.MPLS-SL{
  height:100%;
  width: 100%;
}
.logo-holder {
  width:85px;
  height:85px;
  position: absolute;
  top: 275px;
  left:10%;
}
.TIY-logo {
  height: 80px;
  width: 80px;
  border: 5px solid #FFF;
  border-radius: 50%;
}

.body-1{
  display: inline-block;
  float: left;
  width: 33%;
  height: 500px;
  
}
.body-2{
  display: inline-block;
  float: left;
  width: 38%;
  height: 500px;
  
}
.body-3{
  display: inline-block;
  float: left;
  width: 28%;
  height: 500px;
  
}
h3{
  position: absolute;
  float: right;
  width: 150px;
  left: 110px;
  display: block;
  text-align: left;
  padding-top: 50px;
  margin-right: 20px; 
}
.Col1-P {
  font-size: 15px;
  position: absolute;
  left: 110px;
  width: 150px;
  display: block;
  text-align: left;
  
  color: #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  margin: 120px 0px 0px 0px;
  padding-bottom: 10px;
}
form {
  position: absolute;
  left: 110px;
  margin-top: 210px;
  color: #C0C0C0;
}
.search {
  margin-top: 15px;
  width: 150px;
  color: #C0C0C0;
}
h1 {
  float: left;
  width: 90%;
  display: block;
  text-align: left;
  padding-top: 40px;
  margin-right: 20px;
  font-size: 3em;
}
.author {
  display: inline-block;
  margin-bottom: 15px;
}
.tiy-d1{
  width: 90%;
  height: 185px;
}
a {
  text-decoration: none;
}
.social-media-box {
  
  position: absolute;
  width: 260px;
  height:60px;
  top: 700px;
  border:1px solid #C0C0C0;
}
.SM-t1 {
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom:1px solid #C0C0C0;
}
.social-media-img {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 5px;
}
.media-text {
  display: block;
  float: left;
  padding-right: 5px;
  font-size: 9px;
  margin-top: 5px;
}
button {
  display: block;
  float: left;
  background-color: #50B7E4;
  color: #FFF;
  border-radius: 10%;
  border-color: #50B7E4;
  width: 65px;
  margin-top: 8px;
  margin-left: 5px;
}